<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#">MEMEGUR</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/#/memes/new">New Meme</a></li>
    </ul>
  </div>
</nav>
<div id="content"></div>