<div class="page-header text-center">
	<h2><%= image.get("title") %></h2>
</div>
<div class="row">
	<div class="info-container col-xs-4">
	<p><button class="btn btn-lg btn-default new">New Meme!</button></p>
	</div>
	<div class="image-container col-xs-8 text-center">
		<img src="<%= image.get("src") %>">
	</div>
</div>
