<div class="jumbotron text-center">
	<h1>All the images!</h1>
</div>
<div class="row">
	<p class="text-right">
		<a style="font-weight:bold" class="sort" href="javascript:void(0)" data-sort="oldest">Oldest</a>
		|
		<a class="sort" href="javascript:void(0)" data-sort="newest">Newest</a>
		|
		<a class="sort" href="javascript:void(0)" data-sort="popularity">Most Popular</a>
	</p>
</div>
<div class="bottom-content">
</div>
