<div class="row">
	<div class="col-xs-12 text-center">
		<h1>All the templates!</h1>
	</div>
</div>
<br>
<br>
<div class="row">
	<p class="text-right">
		<a style="font-weight:bold" class="sort" href="javascript:void(0)" data-sort="oldest">Oldest</a>
		|
		<a class="sort" href="javascript:void(0)" data-sort="newest">Newest</a>
		|
		<a class="sort" href="javascript:void(0)" data-sort="popularity">Most Popular</a>
	</p>
</div>
<div class="bottom-content">
</div>
<% if (images.hasNextPage()){ %>
	<div class="row">
		<div class="fetch-more">
			<button class="btn btn-default">More!</button>
		</div>
	</div>
<% } %>
