<div class="image-container-xs">
	<a href="<%= "/#/images/" + image.id %>" >
		<img src="<%= image.get("image_src_feed") %>">
	</a>
	<div class="title-container"><%= image.get("title") %></div>
</div>
