<header>
	<h3>You're making a meme!</h3>
</header>
<ul>
	<li>Click on the image to add text wherever you want!</li>
	<li>Click on text to edit it!</li>
	<li>Use the image button to change the background image!</li>
