<header class="page-header">
	<h3><%= (meme.isNew()) ? "Make" : "Edit" %> a meme!</h3>
</header>
<div class="control-panel col-xs-6">
	<div class="meme-panel"></div>
	<div class="caption-panels"></div>
	<div class="images-panel"></div>
</div>
<div class="image-panel col-xs-6">
	<div class="meme-container">
		<div class="options">
			<button class="save btn-xs redirect btn btn-success">
				<span class="glyphicon glyphicon-ok"></span>
			</button>
			<button class="cancel btn-xs btn btn-danger">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</div>
		<div id="meme-canvas" style="display:none"></div>
	</div>
</div>

