<header class="page-header">
	<h3><%= (meme.isNew()) ? "Make" : "Edit" %> a meme!</h3>
	<p>Click on the image to place captions. Drag to position them. Use the menus to style them.</p>
</header>
<div class="image-panel col-md-7 col-sm-12 col-xs-12">
	<div class="meme-container tooltip-elem" data-toggle="tooltip"
			 title="Double click to add caption" data-placement="top">
		<div class="options">
			<button class="save btn-xs redirect btn btn-success tooltip-elem" data-toggle="tooltip"
			 title="Publish" data-placement="top">
				<span class="glyphicon glyphicon-ok"></span>
			</button>
			<button class="cancel btn-xs btn btn-danger tooltip-elem"  data-toggle="tooltip"
			title="Cancel" data-placement="top">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</div>
		<div class="meme-show-container">
		 </div>
		<div id="meme-canvas" style="display:none"></div>
	</div>
</div>
<div class="control-panel col-md-5 col-sm-12 col-xs-12">
	<div class="meme-panel"></div>
	<div class="caption-panels"></div>
	<div class="images-panel"></div>
</div>

