<div class='col-xs-12'>

	<div class="meme-container col-md-8">
		<div class="options">
			<button class="save btn-xs redirect btn btn-success">
				<span class="glyphicon glyphicon-ok"></span>
			</button>
			<button class="cancel btn-xs btn btn-danger">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
			<!-- <button class="change-image btn-xs btn btn-info">
				<span class="glyphicon glyphicon-picture"></span>
			</button> -->
		</div>
	</div>
	<div class="control-panel col-md-3"></div>
	<div class="clearfix">
</div>