<div class="options">
	<button class="save redirect btn btn-success">
		<span class="glyphicon glyphicon-ok"></span>
	</button>
	<button class="cancel btn btn-danger">
		<span class="glyphicon glyphicon-remove"></span>
	</button>
	<button class="change-image btn btn-info">
		<span class="glyphicon glyphicon-picture"></span>
	</button>
</div>
<div class="meme-container"></div>
<div class="control-panel"></div>
