<div class="options">
	<button class="save btn default-btn">Save</button>
	<button class="btn default-btn">Change Image</button>
</div>
<div class="meme-container"></div>
<div class="control-panel"></div>
