<header><h3>Meme Options</h3></header>
<label>Alignment</label>
<div class="form-group text-center">
		<button name="left" class="btn alignment">
			<span class="glyphicon glyphicon-align-left"></span>
		</button>
		<button name="center" class="btn alignment">
			<span class="glyphicon glyphicon-align-center"></span>
		</button>
		<button name="right" class="btn alignment">
			<span class="glyphicon glyphicon-align-right"></span>
		</button>
</div>
<label>Font size</label>
<div class="form-group">
	<input type="number" 
		   class="form-control" 
		   name="font-size" 
		   placeholder="size"
		   value="<%= meme.css('font-size').replace('px', '')  %>"
	>
</div>
<label>Font color</label>
<div class="form-group">
	<input type="text" 
		   class="form-control" 
		   name="color" 
		   placeholder="color"
		   value="<%= meme.css('color') %>"
	>
</div>
<label>Font family</label>
<div class="form-group">
	<input type="text" 
		   class="form-control" 
		   name="font-family" 
		   placeholder="font family"
		   value="<%= meme.css('font-family') %>"
	>
</div>
<br>
<div class="form-group text-center">
	<button class="btn btn-success save">Publish Meme</button> <button class="btn btn-danger delete">Delete Meme</button>
</div>
<div class="form group text-center">
	<button class="btn btn-info change-image">Change Image</button>
</div>