<div id="buttons">
	<div class="image-buttons">
		<input placeholder="url" type="url" id="imageUrl">
	</div>
	<div class="text-buttons">
		<button id="centerNode">Center</button>
		<button id="serialize">to JSON</button>
		<input id="nodeSize" type="number" name="size" placeholder="size">
		<input id="nodeText" placeholder="text" name="text" type="text">
	</div>
</div>

<div class="meme-container"></div>
