<header class="page-header">
	<h3>Make a meme!</h3>
</header>
<div class="control-panel col-xs-4"></div>
<div class="meme-container col-xs-8">
	<div class="options">
		<button class="save btn-xs redirect btn btn-success">
			<span class="glyphicon glyphicon-ok"></span>
		</button>
		<button class="cancel btn-xs btn btn-danger">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
		<!-- <button class="change-image btn-xs btn btn-info">
			<span class="glyphicon glyphicon-picture"></span>
		</button> -->
	</div>
</div>

