<header>
	<h4>Image Options!</h4>
</header>
<div>
	<label>Choose from one of these!</label>
	<div class="image-items">
	</div>
</div>
<div>
	<label>Or add your own!</label>
	<div class="image-options">
		<form class="create">
			<div class="form-group">
				<input class="form-control" placeholder="title" type="title" name="image[title]">
			</div>
			<div class="form-group">
				<input class="form-control" placeholder="url" type="src" name="image[src]">
			</div>  
			<div class="form-group">
				<input type="submit" class="btn default-btn" value="Create!">
			</div>
		</form>
	</div>
</div>