<header>
	<h4>Image Options!</h4>
</header>
<div>
	<label>Choose from one of these!</label>
	<div class="image-items">
	</div>
</div>
<div>
	<label>Or add your own!</label>
	<div class="image-options">
		<div class="form-group">
			<input class="form-control" type="url">
		</div>
		<div class="form-group">
			<button class="btn default-btn">Create!</button>
		</div>
	</div>
</div>