<div class="panel-header"></div>
<div class="expandable">
	<div class="row">
	<div class="col-xs-6">
		<label>Choose from one of these!</label>
		<div class="image-items">
		</div>
	</div>
	<div class="col-xs-6">
		<label>Or add your own!</label>
		<div class="image-options">
			<form class="create" enctype="multipart/form-data">
				<div class="form-group">
					<input class="form-control" placeholder="title" type="text" name="title">
				</div>
				<div class="form-group">
					<input class="form-control" placeholder="file" type="file" name="image_src">
				</div>  
				<div class="form-group">
					<input type="submit" class="btn btn-success" disabled value="Add!">
				</div>
			</form>
		</div>
	</div>
	</div>
</div>