<div class="meme-container-xs">
	<a href="<%= "/#/memes/" + meme.id %>" >
		<img src="<%= meme.get("cached_image") %>">
	</a>
	<div class="button-container">
		<span><%= meme.get("time_words")%> ago</span>
	</div>
</div>