<br>
<div class="jumbotron">
	<h1 class="text-center">Welcome to Memeor</h1>
	<p>Memeor is a new way to make memes online, aiming to aid ease, customizability and colloboration in the process of making memes. Why you don't get started, now?</p>
	<br>
	<div class="row landing-buttons">
		<div class="col-sm-6 col-xs-12 text-center">
			<a href="/#/memes/new" class="btn btn-info">Make a meme</a>
		</div>
		<div class="col-sm-6 col-xs-12 text-center">
			<a href="/#/images/new" class="btn btn-success">Upload a new template</a>
		</div>
	</div>
</div>
<div class="page-header">
	<h3>Most popular templates</h3>
</div>
<div class="images-index-container"></div>
<div class="page-header">
	<h3>Newest memes</h3>
</div>
<div class="memes-index-container"></div>