<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-xs btn-default">
			<span class="glyphicon glyphicon-minus"></span>
		</button>
		<span class="title">&nbsp;&nbsp;<%= title %></span>
	</div>
</div>