<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-xs btn-success expand">&nbsp;</button>
		<button class="btn btn-xs btn-warning retract">&nbsp;</button>
		<span class="title">&nbsp;&nbsp;<%= title %></span>
	</div>
</div>