<div class="expandable">
	<header><h3>Captions Options</h3></header>
	<label>Font size</label>
	<div class="form-group">
		<input type="number" 
			   class="form-control" 
			   name="font-size" 
			   placeholder="size"
			   value="<%= caption.css('font-size').replace("px", "") %>"
		>
	</div>
	<label>Font color</label>
	<div class="form-group">
		<input type="text" 
			   class="form-control" 
			   name="color" 
			   placeholder="color"
			   value="<%= caption.css('color') %>"
		>
	</div>
	<label>Caption text</label>
	<div class="form-group">
		<input class="form-control"
			   autofocus	 
		       name="content" 
			   placeholder="text" 
			   type="text"
			   value="<%= caption.get('content') %>"
		>
	</div>
	<div class="form-group text-center">
		<button class="btn btn-success unselect">Back to Menu</button>
		<button class="btn btn-danger destroy">Delete Caption</button>
	</div>
</div>
