<header class="panel-header expanded">
</header>
<div class="expandable">
	<div class="row">
		<div class="col-xs-6">
		<label>Font size</label>
		<br>
		<input type="number" 
			   class="form-control" 
			   name="font-size" 
			   placeholder="size"
			   value="<%= caption.css('font-size').replace("px", "") %>"
		>
		</div>
		<div class="col-xs-6">
		<label>Font color</label>
		<br>
		<input type="text" 
			   class="form-control" 
			   name="color" 
			   placeholder="color"
			   value="<%= caption.css('color') %>"
		>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<label>Caption text</label>
			<br>
			<div class="input-group">
			  <input type="text" 
			  		 autofocus
			  		 name="content"
					 class="form-control" 
					 placeholder="text"
					 value="<%= caption.get('content') %>"
			  >
			  <span class="input-group-addon btn btn-danger delete">
				  <span class="glyphicon glyphicon-trash"></span>
			  </span>
			</div>
		</div>
	</div>
</div>
