/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

/* MODAL */

.block-page {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 10;
}

/* MEME FORM */

.meme-edit {
	padding: 5px;
	
	> div {
		float: left;
		border: 2px solid black;
	}
	.options {
		border-right: 0px;
		vertical-align: top;
		padding: 10px;
		border-radius: 10px 0 0 10px;
		
		> button {
			display: block;
			margin: 2px;
		}
	}

	.meme-container {
		vertical-align: top;
	}

	.control-panel {
		border-left: 0px;
		max-width: 260px;
		height: 504px;
		vertical-align: top;
		padding: 10px;
		border-radius: 0 10px 10px 0;
		
		ul {
			list-style-position: inside;
			font-size: 125%;
		}
		
		li {
			margin: 25px 0;
		}
		
	}
}

/*MEME IMAGE FORM*/

.image-items {
	width: 240px;
	background-color: white;	
	border-radius: 5px;
	max-height: 250px;
	overflow-y: auto;
}
.meme-image-item {
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 5px;
	display: inline-block;
	border: 1px solid transparent;
	
	&:hover {
		border: 1px solid black;
	}
	
	img {
		max-width:100%;
	}
}


/* MEME SHOW */

.meme {
	height: 500px;
	width: 500px;
	overflow: hidden;
	position: relative;
}


/*CAPTION SHOW*/

.caption .inner {
	margin: 10px;
}

.selected {
	border: 1px dotted black;
}