/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

$pdark: #3A3276;
$pdark-trans: rgba(10, 0, 78, .1);
$pgray: #9E9E9E;

/* GLOBAL */
.clearfix {
	clear: both;
}

.jumbotron {
	background-color: $pdark-trans;
	border-color: $pdark;
}

/* LANDING */

.landing-buttons {
	
	a {
		margin-top: 5px;
		font-size: 120%;
	}
}


/* MODAL */

.block-page {
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	opacity: .7;
	z-index: 50;
	
	.loading-holder {
		margin: 300px auto;
		width: 120px;
		height: 128px;
		background-image: url('loading.gif');
	}
}

.modal-popup {
	margin-top: 80px;
	display: inline-block;
}

/*NAVBAR*/
.navbar {
	background-color: white;
	border-bottom: 1px solid $pdark;
	box-shadow: 0px 3px 6px $pdark-trans;
	
	a.navbar-brand, .nav li a  {
		color: black;
		&:hover {
			color: $pdark;
		};
	}
	
}

/*CONTENT*/

body {
	padding-top: 60px;

}


/* MEME INDEX */

.memes {
	
}

.meme-index-item {
	padding-bottom: 25px;
		
	.meme-container {
		border: 2px solid white;
		width: 100%;
		position: relative;
		overflow: hidden;
		height: 144px;
		width: 144px;
		border-radius: 100px;
		transition: border-radius .5s ease;

		
		img {
			width: 100%;
			height: 100%;
		}
		
		&:hover {
			
			border-radius: 0px;
			.button-container {
				bottom: 0px;
			}
		}
	}
	
	.button-container {
		padding: 5px;
		color: white;
		background-color: rgba(0, 0, 0, .5);
		right: 0px;
		bottom: 40px;
		position: absolute;
		font-size: 80%;
		transition: bottom .5s ease;
		
		.btn {
			border-color: white;
			color: white;
			background-color: transparent;
			
			&:hover {
				border-color: $pdark;
				color: $pdark;
			}
		}
	}
}


/* MEME FORM */

.meme-edit {
	padding: 5px;
	background-color: transparent;
	text-align: center;
	
	.panel {
		border: 1px solid black;
		padding: 10px;
		margin-bottom: 3px;
		
		
		.panel-header {
			text-align: left;
			
			.title {
				font-size: 120%;
				font-weight: bold;
			}
	
			.btn {
				border-radius: 20px;
				font-size: 50%;
				vertical-align: text-top;
			}
			
		}
	}

	.meme-container {
		display: inline-block;
		position: relative;
		background-color: transparent;
		vertical-align: top;
		
		.options {
			position: absolute;
			background-color: rgba(0, 0, 0, .3);
			padding: 5px;
			top: 0;
			left: 0;
			z-index: 15;
		
			> button {
				margin: 2px;
			}
		}
	}

	.control-panel {
		background-color: white;
		
		ul {
			list-style-position: inside;
			font-size: 125%;
		}
		
		li {
			margin: 25px 0;
		}
		
	}
}

/*MEME IMAGE FORM*/

.image-items {
	background-color: white;
	max-height: 150px;
	overflow-y: auto;
}

.meme-image-item {
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 5px;
	display: inline-block;
	border-radius: 50px;
	transition: border-radius .5s ease;
	
	&:hover {
		border-radius: 0px;
	}
	
	img {
		height: 100px;
		width: 100px;
	}
}


/* MEME SHOW */

.meme {
	background-color: rgba(0,0,0,.3);
	position: relative;
	cursor: pointer;
	
	
	.no-meme {
		width: 500px;
		height: 500px;
		line-height: 500px;
		background-color: $pdark;
		border-radius: 5px;
		color: white;
		text-align: center;
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
		
	}	
}


/* MEME DISPLAY */

.meme-display {
	
	.info-container {
		
	}
	
	.image-container {
	
		img {
		}
	}
	
}



/*CAPTION SHOW*/
.caption {
	border: 1px dotted white;
	word-wrap: word;
	
	&.selected{
		border-color: blue;
	}
	
	.inner {
		margin: 10px;
		z-index: 15;
		text-shadow: 2px 2px 2px #000,
					-2px -2px 2px #000,
					2px -2px 2px #000,
					-2px 2px 2px #000,
					2px -2px 2px #000,
					2px 2px 2px #000,
					-2px -2px 0 #000,
					2px -2px 0 #000,
					-2px 2px 0 #000,
					2px -2px 0 #000;
	}
}


/* IMAGES INDEX */
.memes {
	
}

.image-index-item {
	padding-bottom: 25px;
		
	.image-container {
		height: 250px;
		width: 250px;
		overflow: hidden;
		position: relative;
		
		img {
			border-radius: 150px;
			width: 100%;
			transition: border-radius .5s ease;
			
			
			&:hover {
				border-radius: 0px;
			}
		}
		
		&:hover {
			
			.title-container {
				bottom: 0%;
			}
		}
		
		.title-container {
			transition: bottom .5s ease;
			background-color: rgba(0,0,0,.3);
			color: white;
			position: absolute;
			font-size: 125%;
			bottom: 40%;
			left: 0;
			text-align: center;
			width: 100%;
		}
	}
	
	
}

/* IMAGES DISPLAY */


.image-display {
	.image-container {
		
		height: 400px;
		
		img {
			max-height: 400px;
		}
	}
}


/* FLASH */
.flash {
	position: fixed;
	top: 70px;
}

